fieldset {
  border: 0;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 2em;
}

.selected-category-name {
  font-weight: normal;
  color: red;
}

.category-filter {
  background-color: red;
  color: white;
  font-size: 10px;
  vertical-align: top;
  position: relative;
  top: -2px;
}

select {
  -webkit-appearance: none;
  border-color: transparent;
}

select:hover {
  -webkit-appearance: menulist-button;
  border-color: threedface;
}

.hidden-to-measure-select {
  /* hidden while preserving dimensions */
  visibility: hidden;
  position: absolute;
}
