fieldset, button {
  border: 0;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: red;
  color: white;
}

button.selected-text:hover {
  cursor: default;
  background-color: white;
  color: red;
}

.selected-text {
  color: red;
}

select {
  background-color: red;
  color: white;
  font-size: 8px;
  vertical-align: top;
  position: relative;
  top: -2px;
}

select {
  -webkit-appearance: none;
  border-color: transparent;
}

select:hover {
  -webkit-appearance: menulist-button;
  border-color: threedface;
}

.hidden-to-measure-select {
  /* hidden while preserving dimensions */
  visibility: hidden;
  position: absolute;
}
