ul {
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 2em;
}

select {
  width: auto;
  max-width: 20em;
}

option {
  width: 1em;
}

select:focus {
  max-width: auto;
}

select:focus > option {
  width: auto;
}

select:focus > option:after {
  content: " (" attr(data-extra) ")";
}
