body {
  font-family: "Fira Sans";
  font-size: 24px;
  line-height: 1.4;
  font-weight: bold;
  font-style: normal;
}

pre, code, data {
  font-family: "Fira Mono";
}

svg {
  font-weight: normal;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, input, select, button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
}

a:link {
  color: inherit;
}

select {
  /*
    fall back: half of browsers (2014: IE, Safari)
    only support system fonts in select lists;
    on a system without these system fonts (Linux...),
    it is probably safe to use a web font (Firefox, Chrome).
  */
  font-family: "Menlo", "Monaco", "Lucida Console", "Fira Mono";
}

h1 {
  margin-bottom: 3em;
}
